@page "/comic/home"
@using TrackerWasm.Models.ComicModels
@using TrackerWasm.Components.ComicComponents
@using TrackerWasm.Services
@inject NavigationManager NavigationManager
@inject PreloadService PreloadService
@inject ComicService ComicService

<PageTitle>Webtoons & Manga</PageTitle>

<h1>Webtoons & Manga</h1>

<Button Color="ButtonColor.Primary" @onclick="Add">Add</Button>
<Button Color="ButtonColor.Primary" @onclick="ToggleFilterAsync">Filter Setting</Button>
<Button Color="ButtonColor.Primary" @onclick="ToggleContentAsync">Column Setting</Button>

<Collapse @ref="_columnSetting">
    <Card class="mt-2">
        <CardBody>
            <CardTitle>Display Columns:</CardTitle>
            <CardText>
                <Switch @bind-Value="_newValue.ReadStatus" Label="Read Status"></Switch>
                <Switch @bind-Value="_newValue.Type" Label="Type"></Switch>
                <Switch @bind-Value="_newValue.PublishingStatus" Label="Publishing Status"></Switch>
                <Button Color="ButtonColor.Primary" Class="mt-2" @onclick="ApplySetting">Apply</Button>
            </CardText>
        </CardBody>
    </Card>
</Collapse>

<Collapse @ref="_filterSetting">
    <Card class="mt-2">
        <CardBody>
            <CardTitle>Filter Setting:</CardTitle>
            <CardText>
                <div class="vstack gap-3">
                    <div class="form-group">
                        <label for="Title">Title</label>
                        <InputText id="Title" autocomplete="off" @bind-Value="_search.Title" class="form-control"/>
                    </div>

                    <ComicTypeDropdown @bind-Value="_search.ComicType"/>
                    <PublishingStatusDropdown @bind-Value="_search.PublishingStatus"/>
                    <ReadStatusDropdown @bind-Value="_search.ReadStatus"/>
                    <div class="hstack gap-3">
                        <Button Color="ButtonColor.Primary" @onclick="FilterTable">Filter</Button>
                        <Button Color="ButtonColor.Secondary" @onclick="ClearFilterForm">Clear</Button>
                    </div>
                </div>
            </CardText>
        </CardBody>
    </Card>
</Collapse>


<Grid TItem="Comic" Class="table table-hover" DataProvider="EmployeesDataProvider" AllowPaging="true" PageSize="5"
      @ref="_grid" Responsive="true">
    <GridColumns>
        <GridColumn TItem="Comic" HeaderText="Title" PropertyName="Title" FilterButtonCSSClass="d-none"
                    FilterOperator="FilterOperator.Contains" Filter>
            @context.Title
        </GridColumn>
        <GridColumn TItem="Comic" HeaderText="Read Status"
                    Class="@(_columnsToDisplay.ReadStatus ? "text-end w-auto" : "d-none")"
                    PropertyName="Value">
            @context.ReadStatus
        </GridColumn>
        <GridColumn TItem="Comic" HeaderText="Type" Class="@(_columnsToDisplay.Type ? "text-end w-auto" : "d-none")">
            @context.ComicType
        </GridColumn>
        <GridColumn TItem="Comic" HeaderText="Read" Filterable="false" Class="text-end w-auto">
            @(context.ChapterRead.HasValue ? context.ChapterRead.ToString() : "?")/@(context.TotalChapter.HasValue ? context.TotalChapter.ToString() : "?")
        </GridColumn>
        <GridColumn TItem="Comic" HeaderText="Publishing Status"
                    Class="@(_columnsToDisplay.PublishingStatus ? "text-end w-auto" : "d-none")">
            @context.PublishingStatus
        </GridColumn>
        <GridColumn TItem="Comic" Filterable="false" Class="text-end w-auto">
            <Button Color="ButtonColor.Link" @onclick="() => Edit(context.Id)">Edit</Button>
        </GridColumn>
    </GridColumns>
</Grid>

@code {
    private List<Comic> _comics = [];

    private ColumnsToDisplay _columnsToDisplay = new();
    private ColumnsToDisplay _newValue = new();

    private Collapse _columnSetting = default!;

    private Collapse _filterSetting = default!;

    private Grid<Comic> _grid = default!;

    private Comic _search = new();

    private class ColumnsToDisplay
    {
        public bool ReadStatus { get; set; } = false;
        public bool Type { get; set; } = false;
        public bool PublishingStatus { get; set; } = false;
    }

    private void Add()
    {
        NavigationManager.NavigateTo("/comic/add");
    }

    private void Edit(string id)
    {
        NavigationManager.NavigateTo($"/comic/edit/{id}");
    }

    string _readStatusDisplayed = "";

    private async Task<GridDataProviderResult<Comic>> EmployeesDataProvider(GridDataProviderRequest<Comic> request)
    {
        PreloadService.Show();
        var data = await ComicService.GetComicList(_search);
        // var data = await ComicService.GetComicList();
        PreloadService.Hide();
        return await Task.FromResult(request.ApplyTo(data));
    }

    private async Task ApplySetting()
    {
        _readStatusDisplayed = _newValue.ReadStatus ? "" : "d-none";
        _columnsToDisplay = new ColumnsToDisplay
        {
            ReadStatus = _newValue.ReadStatus,
            Type = _newValue.Type,
            PublishingStatus = _newValue.PublishingStatus,
        };
        PreloadService.Show(SpinnerColor.Light, "Updating Table...");
        await Task.Delay(200);
        StateHasChanged();
        PreloadService.Hide();
    }

    private async Task ToggleContentAsync()
    {
        _newValue = new ColumnsToDisplay
        {
            ReadStatus = _columnsToDisplay.ReadStatus,
            Type = _columnsToDisplay.Type,
            PublishingStatus = _columnsToDisplay.PublishingStatus,
        };
        await _columnSetting.ToggleAsync();
    }

    private async Task ToggleFilterAsync()
    {
        await _filterSetting.ToggleAsync();
    }

    private async Task FilterTable()
    {
        PreloadService.Show(SpinnerColor.Light, "Filtering data...");
        // await LoadComicData(search);
        await _grid.RefreshDataAsync();
        PreloadService.Hide();
    }

    private async Task ClearFilterForm()
    {
        _search = new();
        await FilterTable();
    }

}
